
<div class="col-md-8 col-md-offset-2">
  <div class="row" style="margin-top: 50px;">
    <div class="panel panel-default">
      <div class="panel-heading" style="background: #000; color: #ccc;">
        <h1 style="margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px;">Post Pic</h1>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
      <!-- <div class="well" style="margin-top: 50px;">
      </div>
